<div class="ta-title-bar">
    <div class="row">
    <div class="ta-logo-area col-sm-6">
        <img class="ta-icon" ng-src="{{ iconFile }}"/>
        <div class="ta-title-area">
            <p class="ta-logo-title">{{ title }}</p>
            <p class="ta-logo-subtitle">{{ subtitle }}</p>
        </div>
        <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()"
             class="ta-collapsed-menu pull-right">
            <button type="button" class="btn ta-nav-button">
                <i class="fa fa-bars"></i>
            </button>

        </div>

    </div>


    <div class="ta-right-side-controls col-sm-6">
        <div>
            <button class="btn btn-primary">Button 1</button>
            <button class="btn btn-success">Button 2</button>
            <button class="btn btn-warning">Button 3</button>
        </div>
    </div>
    </div>

</div>
<ng-transclude></ng-transclude>

<div ng-view class="ta-view"
     ng-class="{'ta-view-full-width': !isMenuVertical || !isMenuVisible}">
</div>