.ta-menu-area {
    position: relative;
    background-color: #115883;
    color: black;
    padding-left: 0;

}

.ta-menu-area-vertical {
    float: left;
    width: 200px;
    min-height: 100vh;
    padding-top: 30px;
}
.ta-menu-area-horizontal {
    width: 100%;
    height: 40%;
}

.ta-menu-area ul {
    padding-left: 0;
}

.ta-menu-area .btn:hover {
    color: #c4cbcf;
}

.ta-menu {
    list-style-type: none;
    vertical-align: top;
}
.ta-menu ul {
    display: inline;
    list-style-type: none;
    padding-left: 0;
}

.ta-menu li {
    line-height: 3em;
    cursor: pointer;
}

.ta-menu li div {
    display: inline-block;
    width: 90%;
    padding-left: 16px;
}

.ta-selectable-item:hover{
    background-color: #c4cbcf;
}

.ta-menu-icon {
    margin-right: 10px;
}

.ta-menu-active-indicator {
    float: right;
    color: black;
    margin-right: 0;
    margin-top: 8px;
}
.ta-noselect {
    -webkit-touch-callout:none ;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.ta-group-indicator-left {
    float: right;
    color: black;
    margin-right: 2px;
    margin-top: 15px;
}

.ta-subitem-section{
    padding-left: 16px ;
}

.ta-menu-layout-button {
    margin: 12px;
    padding: 2px 8px;
    color: #bbb;
    background-color: #333;
    border: 1px solid #999;
}
.ta-layout-button-horizontal {
    position: absolute;
    top: -6px;
    right: 10px;
}

.ta-item-horizontal {
    display: inline-block;
    width: 165px !important;
    margin-left: 20px;
    margin-top: 5px;
    line-height: 1.5em !important;
}

.ta-popup-menu{
    position: absolute;
    z-index: 1000;
    background-color: #115883;
    width: 200px;
    padding-left: 0;
}
.ta-fade-in-animation {
    -moz-animation: linear all 0.5s;
    -o-transition: linear all 0.5s;
    -webkit-transition: linear all 0.5s;
    transition: linear all 0.5s;
}

.ta-fade-in-animation.ng-hide {
    opacity: 0;
}